<div id="payment-wrapper">
  <div class="container-fluid">
    <div class="row mb-4">
      <div class="col text-center">
        <h1>Payment</h1>
        <h2 class="h6">Review your service signup details</h2>
      </div>
    </div>
    <div class="row mb-4 justify-content-center">
      <div class="col-auto">
        <div id="service-details">
          <div class="card mt-2">
            <div class="card-body">
              {{#link-to 'signup.services'}}<h5 class="card-title">Service Details</h5>{{/link-to}}
              {{selected-service-details servicePlan=model.servicePlan}}
            </div>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <div id="account-info">
            <div class="card mt-2">
              <div class="card-body">
                {{#link-to 'signup.account'}}<h5 class="card-title">Account Info</h5>{{/link-to}}
                <p>
                  <b>Name</b>: {{model.client.firstName}} {{model.client.lastName}}<br>
                  <b>Email</b>: {{model.client.email}}<br>
                  <b>Phone Number</b>: {{model.client.phone}}<br>
                  <b>Address</b>: {{model.client.street1}} {{model.client.city}}, {{#if model.client.state.name}}{{model.client.state.name}},{{/if}} {{model.client.country.name}}, {{model.client.zipCode}}
                </p>
              </div>
            </div>
        </div>
      </div>

  {{!-- newService
  client
  job
  lightgigWifi
   --}}        
    </div>
    <div class="row mb-4">
      <div class="col text-center">
        {{#unless error}}
        {{#if pending}}
          <div class="alert alert-primary" role="alert">Submitting Information</div>
          <div class="row justify-content-center">
            <div class="col-auto">
              <img src="https://s3.amazonaws.com/shared-charuwts/images/spinner.gif" style="display:inline-block;">
            </div>
          </div><br clear="all">
        {{else}}
            {{#if failure}}
              <div class="alert alert-danger" role="alert">Sorry, there was an error with your request.</div>
              {{#if errors}}
                {{#bs-form class="container-fluid" model=model.client novalidate=true as |form|}}
                  <div class="row">
                    {{#each-in errors as |key value|}}
                      <div class="col-6">
                        {{#if (is-value key 'username')}}
                          <span style="text-transform:capitalize;">email</span> - {{value}}
                          {{form.element controlType="email" id="email" autocomplete="email" placeholder="Email" property="email" required=true}}
                        {{else}}
                          <span style="text-transform:capitalize;">{{key}}</span> - {{value}}
                          {{form.element placeholder=key property=key required=true}}
                        {{/if}}
                      </div>
                    {{/each-in}}
                  </div>
                {{/bs-form}}
              {{/if}}

            {{/if}}
          {{/if}}
        {{/unless}}
        {{#stripe-card options=options as |stripeElement error|}}
          {{#if error}}
            <p class="error">{{error.message}}</p>
          {{/if}}
          <br clear="all">
          {{#unless pending}}
            <div class="btn btn-success" {{action "submit" stripeElement}}>Submit Payment</div>
          {{/unless}}
        {{/stripe-card}}
      </div>
    </div>
  </div>

</div>