<div id="payment-wrapper">
  <div class="container-fluid">
    <div class="row mb-4">
      <div class="col text-center">
        <h1>{{translate-text key="payment"}}</h1>
        <h2 class="h6">{{translate-text key="reviewServiceSignupDetails"}}</h2>
      </div>
    </div>
    <div class="row mb-4 justify-content-center">
      <div class="col-auto">
        <div id="service-details">
          <div class="card mt-2">
            <div class="card-body">
              {{#link-to 'signup.services'}}<h5 class="card-title">{{translate-text key="serviceDetails"}}</h5>{{/link-to}}
              {{selected-service-details servicePlan=model.servicePlan}}
            </div>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <div id="account-info">
            <div class="card mt-2">
              <div class="card-body">
                {{#link-to 'signup.account'}}<h5 class="card-title">{{translate-text key="accountInfo"}}</h5>{{/link-to}}
                <p>
                  <b>{{translate-text key="name"}}</b>: {{model.client.firstName}} {{model.client.lastName}}<br>
                  <b>{{translate-text key="email"}}</b>: {{model.client.email}}<br>
                  <b>{{translate-text key="phoneNumber"}}</b>: {{model.client.phone}}<br>
                  <b>{{translate-text key="address"}}</b>: {{model.client.street1}} {{model.client.city}}, {{model.client.zipCode}}
                </p>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col text-center">
      {{#if ucrmGenerator.errors}}
        {{#if ucrmGenerator.pending}}
          <div class="alert alert-primary" role="alert">{{translate-text key="submittingInformation"}}</div>
          <div class="row justify-content-center">
            <div class="col-auto">
              <img src="https://s3.amazonaws.com/shared-charuwts/images/spinner.gif" style="display:inline-block;">
            </div>
          </div><br clear="all">
        {{else}}
            {{#if ucrmGenerator.failure}}
              <div class="alert alert-danger" role="alert">{{translate-text key="errorWithRequest"}} {{ucrmGenerator.errorMessage}}</div>
              {{#if ucrmGenerator.errors}}
                {{#bs-form class="container-fluid" model=model.client novalidate=true as |form|}}
                  <div class="row">
                    {{#each-in ucrmGenerator.errors as |key value|}}
                      <div class="col-6">
                        {{#if (is-value key 'username')}}
                          <span style="text-transform:capitalize;">{{translate-text key="email"}}</span> - {{value}}
                          {{form.element controlType="email" id="email" autocomplete="email" placeholder="Email" property="email" required=true}}
                        {{else}}
                          <span style="text-transform:capitalize;">{{key}}</span> - {{value}}
                          {{form.element placeholder=key property=key required=true}}
                        {{/if}}
                      </div>
                    {{/each-in}}
                  </div>
                {{/bs-form}}
              {{/if}}

            {{/if}}
          {{/if}}
        {{/if}}
        {{#if collectPayment}}
          {{#stripe-card options=options as |stripeElement error|}}
            {{#if error}}
              <p class="error">{{error.message}}</p>
            {{/if}}
            <br clear="all">
            {{#unless ucrmGenerator.pending}}
              <div class="btn btn-success" {{action "submit" stripeElement model.client}}>{{translate-text key="confirmInformationAndSubmit"}}</div>
            {{/unless}}
          {{/stripe-card}}
        {{else}}
          {{#if error}}
            <p class="error">{{error.message}}</p>
          {{/if}}
          <br clear="all">
          {{#unless ucrmGenerator.pending}}
            <div class="btn btn-success" {{action "createClient" model.client}}>{{translate-text key="confirmInformationAndSubmit"}}</div>
          {{/unless}}
        {{/if}}
      </div>
    </div>
  </div>

</div>