<br clear="all">
<h3 class="text-center">
  {{#if model.servicePlan}}
    Selected Service Plan
  {{else}}
    Select a Service Plan
  {{/if}}
</h3>
<hr>
<br clear="all">
{{#liquid-unless model.servicePlan}}
  <div class="row justify-content-center mb-5 mx-2">
    {{#each model.servicePlans as |plan|}}
      {{service-plan plan=plan model=model}}
    {{/each}}
  </div>
{{else}}
  {{#if model.servicePlan.period}}
    <div class="row justify-content-center mb-5 mx-2">
      <div class="col-auto text-center">
        {{selected-service-details servicePlan=model.servicePlan}}
      </div>
    </div>
  {{/if}}
{{/liquid-unless}}
{{#if model.servicePlan}}
  <div class="row mb-5 justify-content-center">
      <div class="col-auto">
        <button class="btn btn-secondary text-white" {{action 'resetServicePlan'}}>View Other Options</button>
      </div>
    <div class="col-auto">
      <button class="btn btn-primary" id="proceed" type="submit" {{action 'proceed'}}><span>Proceed</span></button>
    </div>
  </div>
{{/if}}
