<h2>{{servicePlan.name}}</h2>
<div class="h2">{{translate-text key="currencySymbol"}}{{servicePlan.periodPrice}} <small>({{translate-text key="recurring"}})</small></div>
<h3>{{servicePlan.period}} {{translate-text key="monthPeriod"}}</h3>
