{{#bs-form model=model.client novalidate=true onSubmit=(action "submit" model.client) as |form|}}
  <div class="form-row">
    <div class="col-md-6 mb-2">
      {{#translate-text key="firstName" as |translation|}}
        {{form.element controlType="text" id="firstName" autocomplete="given-name" property="firstName" placeholder=translation required=true}}
      {{/translate-text}}
    </div>
    <div class="col-md-6 mb-2">
      {{#translate-text key="familyName" as |translation|}}
        {{form.element controlType="text" id="lastName" autocomplete="family-name" placeholder=translation property="lastName" required=true}}
      {{/translate-text}}
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-6 mb-2">
      {{#translate-text key="email" as |translation|}}
        {{form.element controlType="email" id="email" autocomplete="email" placeholder=translation property="email" required=true}}
      {{/translate-text}}
    </div>
    <div class="col-md-6 mb-2">
      {{#translate-text key="phoneNumber" as |translation|}}
        {{form.element controlType="phone" id="phone" autocomplete="tel tel-national" placeholder=translation property="phone" required=true}}
      {{/translate-text}}
    </div>
  </div>

  <div class="form-row">
    <div class="col-md-6 mb-2">
      {{#translate-text key="street1" as |translation|}}
        {{form.element controlType="text" id="street1" autocomplete="street-address" placeholder=translation property="street1" required=true}}
      {{/translate-text}}
    </div>
    <div class="col-md-6 mb-2">
      {{#translate-text key="street2" as |translation|}}
        {{form.element controlType="text" id="street2" autocomplete="" placeholder=translation property="street2" required=true}}
      {{/translate-text}}
    </div>
    <div class="col-md-3 mb-2">
      {{#translate-text key="city" as |translation|}}
        {{form.element controlType="text" id="city" autocomplete="address-level2" placeholder=translation property="city" required=true}}
      {{/translate-text}}
    </div>
    <div class="col-md-3 mb-2">
      {{#translate-text key="postalCode" as |translation|}}
        {{form.element controlType="text" id="zip" autocomplete="postal-code" placeholder=translation property="zipCode" required=true}}
      {{/translate-text}}
    </div>
    <div class="col-md-6 mb-2">
      {{#translate-text key="companyName" as |translation|}}
        {{form.element controlType="text" id="companyName" placeholder=translation property="companyName" required=false}}
      {{/translate-text}}
    </div>
  </div>

  {{#if model.client.companyName}}
    <div class="form-row">
      <div class="col-md-6 mb-2">
        {{#translate-text key="companyContactFirstName" as |translation|}}
          {{form.element controlType="text" id="companyContactFirstName" placeholder=translation property="companyContactFirstName" required=false}}
        {{/translate-text}}
      </div>
      <div class="col-md-6 mb-2">
        {{#translate-text key="companyContactLastName" as |translation|}}
          {{form.element controlType="text" id="companyContactLastName" placeholder=translation property="companyContactLastName" required=false}}
        {{/translate-text}}
      </div>
      <div class="col-md-6 mb-2">
        {{#translate-text key="companyWebsite" as |translation|}}
          {{form.element controlType="text" id="companyWebsite" placeholder=translation property="companyWebsite" required=false}}
        {{/translate-text}}
      </div>
    </div>
  {{/if}}

  {{#if model.pluginConfig.showCountry}}
    <div class="form-row">
      <div class="col-md-6 mb-4">
        {{#translate-text key="chooseCountry" as |translation|}}
          {{#power-select renderInPlace=true searchField="name" placeholder=translation selected=selectedCountry options=model.countries onchange=(action "selectCountry") as |country|}}
            {{country.name}}
          {{/power-select}}
        {{/translate-text}}
      </div>
      <div class="col-md-6 mb-4">
        {{#if states}}
          {{#translate-text key="chooseState" as |translation|}}
            {{#power-select renderInPlace=true searchField="name" placeholder=translation selected=selectedState options=states onchange=(action "selectState") as |state|}}
              {{state.name}}
            {{/power-select}}
          {{/translate-text}}
        {{/if}}
      </div>
    </div>
  {{/if}}

  {{#unless error}}
    {{#if pending}}
      <div class="alert alert-primary" role="alert">{{translate-text key="submittingInformation"}}</div>
      <div class="row justify-content-center">
        <div class="col-auto">
          <img src="https://s3.amazonaws.com/shared-charuwts/images/spinner.gif" style="display:inline-block;">
        </div>
      </div><br clear="all">
    {{else}}
      {{#if failure}}
        <div class="alert alert-danger" role="alert">{{translate-text key="errorWithRequest"}}</div>
        {{#if errors}}
          {{#bs-form class="container-fluid" model=model.client novalidate=true as |form|}}
            <div class="row">
              {{#each-in errors as |key value|}}
                <div class="col-6">
                  {{#if (is-value key "username")}}
                    <span style="text-transform:capitalize;">{{translate-text key="email"}}</span> - {{value}}
                    {{#translate-text "email" as |translation|}}
                      {{form.element controlType="email" id="email" autocomplete="email" placeholder=translation property="email" required=true}}
                    {{/translate-text}}
                  {{else}}
                    <span style="text-transform:capitalize;">{{key}}</span> - {{value}}
                    {{form.element placeholder=key property=key required=true}}
                  {{/if}}
                </div>
              {{/each-in}}
            </div>
          {{/bs-form}}
        {{/if}}

      {{/if}}
    {{/if}}
  {{/unless}}


  <div class="row">
    <div class="col text-center">
      {{#if (v-get model.client "isInvalid")}}
        {{!-- <div class="btn btn-dark disabled" id="proceed"><span>{{translate-text key="provideInfo"}}</span></div> --}}
      {{else}}
        <button class="btn btn-primary" id="proceed" type="submit"><span>{{translate-text key="proceed"}}</span></button>
      {{/if}}
    </div>
  </div>
{{/bs-form}}